<% provide(:title, "Top Page") %>
<h1>VeNJOB Top page</h1>

<div class="container">
  <div class="banner">
    <img src="banner.png" alt="Banner">
  </div>

  <div class="search"></div>

  <div class="lastest_jobs">
    <h3>Latest jobs</h3>

    <table class="table">
      <tbody>
        <ul class="table">
          <%= render partial: "jobs/job", collection: @jobs %>
        </ul>
      </tbody>
    </table>
    <%= paginate @jobs %>
  </div>

  <div class="top_cities">
    <h3>Top cities</h3>

    <ul class="list-group list-group-horizontal">
      <%= render partial: "cities/city", collection: @cities %>
    </ul>
  </div>

  <div class="top_industries">
    <h3>Top industries</h3>

    <ul class="list-group list-group-horizontal">
      <%= render partial: "industries/industry", collection: @industries %>
    </ul>
  </div>
</div>
