<h4>Search user's applied jobs:</h4>

<%= form_tag(users_admin_path, method: :get) do |f| %>
  <%= text_field_tag :search_user, params[:search_user], placeholder: "Enter user's email" %>
  <%= submit_tag "Search" %>
<% end %>

<%= render partial: "applied_jobs", collection: @applied_jobs %>
