<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">New</li>
    <li class="breadcrumb-item">Confirmation</li>
    <li class="breadcrumb-item">Finish</li>
  </ol>
</nav>
