<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">New</li>
    <li class="breadcrumb-item">Confirmation</li>
    <li class="breadcrumb-item active" aria-current="page">Finish</li>
  </ol>
</nav>

<h2>Thank you for apply</h2>
<%= link_to "Back to the TOP page", root_path %>
