<% if user_signed_in? %>
  <%= form_tag(jobs_favorites_path(job_id: @job.id) , remote: true) do %>
    <%= submit_tag "Favorite", class: "btn btn-primary float-right" %>
  <% end %>
<% else %>
  <button type="button" class="btn btn-primary float-right" disabled>Favorite</button>
<% end %>
