<div class="box">
  <div class="job_data">
    <dl class="job_data_row">
      <dt>Title</dt>
      <dd><%= latest_jobs.title %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Short description</dt>
      <dd><%= truncate(latest_jobs.short_des, length: 250) %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Salary</dt>
      <dd><%= latest_jobs.salary %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Location</dt>
      <dd><%= latest_jobs.cities.first.name %></dd>
    </dl>
  </div>
</div>
