<div class="box">
  <div class="job_data">
    <dl class="job_data_row">
      <dt>Title</dt>
      <dd><%= link_to latest_job.title, job_path(latest_job.id) %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Short description</dt>
      <dd><%= latest_job.decorate.display_short_des %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Salary</dt>
      <dd><%= latest_job.salary %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Location</dt>
      <dd><%= latest_job.decorate.city_name %></dd>
    </dl>
  </div>
</div>
