<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">region</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.region %></td>
      </tr>
    <% end %>
  </tbody>
</table>
