<div class="text-center">
  <div class="container jumbotron">
    <h1>City List</h1>
    <div class="=row">
      <a href="#vietnam" class="col-sm-6">
        <div class="tag"> Vietnam</div>
      </a>
      <a href="#interational" class="col-sm-6">
        <div class="tag">International</div>
      </a>
    </div>
  </div>
</div><br>

<%= render partial: "cities/city", collection: @cities %>
